# XML / Mondial Exercise
## 1) Find the 10 countries with the lowest infant mortality rates

In [1]:
import pandas as pd
import numpy as np
from xml.etree import ElementTree as ET

In [2]:
document = ET.parse( './data/mondial_database.xml' )
document = document.getroot()

In [3]:
#iterate through each country to create dictionary for each country name (key) and corresponding infant mortality rate (value)
dict = {}
for element in document.iter('country'):
    x = element.find('name').text
    y = (element.findtext('infant_mortality'))
    dict[x] = y

In [4]:
#read dictionary into Pandas dataframe for manipulation
df = pd.DataFrame.from_dict(dict, orient = 'index')

In [5]:
#format and sort
df = df.astype(float)
df = df.dropna()
df = df.sort_values(0)

In [6]:
#list top 10
df.head(10)

                   0
Monaco          1.81
Japan           2.13
Norway          2.48
Bermuda         2.48
Singapore       2.53
Sweden          2.60
Czech Republic  2.63
Hong Kong       2.73
Macao           3.13
Iceland         3.15